@model Portal.WRC.Total.com.Models.Noticia

@{
    ViewData["Title"] = "Details";
}


<br />
<br />
<br />

<table class="table-borderless" id="GridIndexNoticias">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                <h1 style="text-align: center; color: darkred">@Html.DisplayFor(modelItem => Model.ntc_titulo_noticia)</h1>
            </td>
        </tr>
        <tr>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                <h4 style="text-align: center">@Html.DisplayFor(modelItem => Model.ntc_curta_descricao)</h4>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <h4>@Html.DisplayFor(modelItem => Model.ntc_texto_noticia)</h4>
            </td>
        </tr>

        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <h7>
                    Localização do Rally: <b>@Html.DisplayFor(model => model.ntc_pais_rally)</b>

                </h7>
                <h7>Data: <b>@Html.DisplayFor(model => model.ntc_data_insercao)</b></h7>
            </td>
        </tr>
        <tr>
            <td>
                <section id="botoes">
                    <a asp-action="Index">Retornar</a>
                </section>
            </td>
        </tr>

    </tbody>

</table>



<br />
<br />
<br />
<br />
<br />
<br />
<section>
    <partial name="PartialViewRedesSociais" />
</section>