@model Portal.WRC.Total.com.Models.Equipes

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar esse registro?</h3>
<div>
    <h4>Equipes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eqp_nome_curto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eqp_nome_curto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eqp_nome_completo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eqp_nome_completo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eqp_url_site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eqp_url_site)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eqp_url_email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eqp_url_email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eqp_nome_chefe_equipe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eqp_nome_chefe_equipe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eqp_pais_origem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eqp_pais_origem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eqp_data_insercao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eqp_data_insercao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eqp_data_atualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eqp_data_atualizacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar para a lista</a>
    </form>
</div>
