@model Portal.WRC.Total.com.Models.Equipes

@{
    ViewData["Title"] = "Details";
}




<table class="table-borderless" id="GridIndexNoticias">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td style="text-align: center; width: 917px">
                <h2>@Html.DisplayFor(model => model.eqp_nome_completo)</h2>
                <h5>Chefe de equipe: @Html.DisplayFor(model => model.eqp_nome_chefe_equipe)</h5>
                <h5>@Html.DisplayFor(model => model.eqp_pais_origem)</h5>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>

        <tr>
            <td>
            </td>
        </tr>

        <tr>
            <td>
                <h7>
                    Site: <b><a href="@Html.DisplayFor(model => model.eqp_url_site)">Clique pra acessar</a></b>

                </h7>
                <h7>Email: <b><a href="@Html.DisplayFor(model => model.eqp_url_site)">Clique pra acessar</a></b>
            </td>
        </tr>


    </tbody>

</table>



<section id="botoes">
    <a asp-action="Index">Retornar</a>
</section>


<br />
<br />
<br />
<br />

<section>
    <partial name="PartialViewRedesSociais" />
</section>