@model IEnumerable<Portal.WRC.Total.com.Models.Equipes>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portal.WRC.Total.com</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <h1>Equipes</h1>

    <p>
        <a asp-action="Create"></a>
    </p>
    <div id="tela_index_equipes">
        <table class="table" id="GridIndexNoticias">
            <thead>
                <tr>
                    <td id="label_Baixo"><b>Nome Completo</b></td>
                    <td id="label_Baixo"><b>Chefe de equipe</b></td>
                    <td class="labelCima"><b>País</b></td>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td id="label_Baixo">
                            @Html.DisplayFor(modelItem => item.eqp_nome_completo)
                        </td>
                        <td class="labelBaixo">
                            @Html.DisplayFor(modelItem => item.eqp_nome_chefe_equipe)
                        </td>
                        <td class="labelBaixo">
                            @Html.DisplayFor(modelItem => item.eqp_pais_origem)
                        </td>

                        <td style="text-align: right">
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <br />
    <br />

    <section>
        <partial name="PartialViewRedesSociais" />
    </section>
</body>



@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.1/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#GridIndexNoticias").DataTable();
        })
    </script>
}