@model IEnumerable<Portal.WRC.Total.com.Models.Equipes>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portal.WRC.Total.com</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <h1>Equipes</h1>

    <p>
        <a asp-action="Create"></a>
    </p>
    <div id="tela_index_equipes">
        <table class="table">
            <thead>
                <tr>
                    <td id="label_Baixo">Montadora</td>
                    <td id="label_Baixo">Nome Completo</td>
                    <td id="label_Baixo">Chefe de equipe</td>
                    <td class="labelCima"><b>País</b></td>
                    <td class="labelCima"><b>URL Site</b></td>
                    <td class="labelCima"><b>Email</b></td>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td id="label_Baixo">
                            @Html.DisplayFor(modelItem => item.eqp_nome_curto)
                        </td>
                        <td id="label_Baixo">
                            @Html.DisplayFor(modelItem => item.eqp_nome_completo)
                        </td>
                        <td class="labelBaixo">
                            @Html.DisplayFor(modelItem => item.eqp_nome_chefe_equipe)
                        </td>
                        <td class="labelBaixo">
                            @Html.DisplayFor(modelItem => item.eqp_pais_origem)
                        </td>
                        <td class="labelBaixo">
                            @Html.DisplayFor(modelItem => item.eqp_url_site)
                        </td>
                        <td class="labelBaixo">
                            @Html.DisplayFor(modelItem => item.eqp_url_email)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>